:root {
    --color-light: #FFF;
    --color-blue: #00B2FF;
    --color-gray: #666666;
    --color-light-gray: #EBEBEB;
    --color-dark: #1B2D37;     
   

    --border-radius: 5px;
    --border: 1px solid var(--color-light);

    --font-family-base: 'PT Mono', sans-serif;
    --font-family-accent: 'Roboto Condensed', sans-serif;

    --container-width: 1170px;
    --container-padding-x: 25px;

    --transition-duration: 0.3s;    
}
